
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  color: #778bdd;
}

body {
  color: #d4e6ff;
}
.Countdown-timer {
  flex: auto;
  margin-top: 1vh;
  text-align: center;
  
  
}
/*25:00 마진*/

.tomato-img {
  max-width: 0vw;
}


.container {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/*재생버튼*/

.Countdown-time {
  width: 90%;
  display: flex;
  margin: 1 auto;
  height: 200px;
  margin-top: 10px;
  display: flex;
  /*display: -webkit-flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid #778bdd;
  border-radius: 6px;
  font-size: 5rem;
  font-weight: 700;
  
}

.Button-start, .Button-stop {
  display: inline-block;
  justify-content: left;
  top:70%;
  position: absolute;
  background-color: Transparent;
  border-color: Transparent;
  
}
.setTime {
  font-size: 20px;
  font-weight: 700;
  
}
.container1{
  display: flex;
  justify-content: right;
  
  
}
.goal-setting {
  display: table;
  table-layout: auto;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
  padding: 1em 1em;
}
/*라운드/골 위치*/

.adjustGoal {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  text-align: center;
  padding: 0.5em 1em;
  margin-top: 11px;
  align-items: center;
  justify-content: right;
}
/*골*/





.goal-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  
}
.container-adjustment {
  display: inline-table;
  height: 100%;
  align-items: center;
  justify-content: center;
}




.adjustTimeOutsideContainer {
  display: inline-table;
  justify-items: center;
  
}

.adjustTime {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
  padding: 0.4em 1em;
}
/*위 포커스*/
.adjustTimeContainer, .adjustGoalContainer {
  display: inline-flex;
  margin:  0.4em 1em;
}


.adjustGoalContainer button {
  font-size: 1.1rem;
  font-weight: 500; 
  outline: none;
  border: 1px solid #fff;
  background-color: #fff;
  color: #778bdd;
  border-radius: 6px;
  outline: none;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  margin: 7px;
}


.adjustTime button {
  font-size: 1.1rem;
  font-weight: 500; 
  outline: none;
  border: 1px solid #fff;
  background-color: #fff;
  color: #778bdd;
  border-radius: 6px;
  outline: none;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  margin: 7px;
}


@media (max-width: 320px) {

  .Countdown-time {
    font-size: 700px;
  }
  .setTime {
    font-size: 25px;
  }
  .adjustGoal {
    padding: 0.25em 1em;
  }
}
@media (min-width: 700px) {
  .Countdown-timer {
    display: table;
    table-layout: auto;
    max-width: 100vw;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    margin-top: 10;
  }

  .container1{
    display: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}